/* common styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #ededed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  /* outline: 0 !important; */
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  cursor: pointer;
}

.list {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

/* ===========header========== */
.header-dashboard {
  position: fixed;
  z-index: 999999;
  background-color: #fff;
}
.header-container {
  width: 100%;
}

.header-dashboard__nav {
  padding-left: 2%;
  padding-right: 2%;
}
.header-dashboard__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-dashboard__logo {
  max-width: 20%;
}
.header-dashboard__login {
}

/* ============dashboard========== */
.section-dashboard {
  padding-top: 100px;
}
.dashboard-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1%;
}
.dashboard-title-content {
  text-align: center;
  padding: 6% 6% 2%;
  border-bottom: 2px solid #000;
}
.dashboard-title {
  font-size: 48px;
  margin-bottom: 15px;
}
.dashboard-title-name {
  margin-right: 6px;
}
.dashboard-title-link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-title-link {
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: #0202ef;
  margin-right: 25px;
}
.dashboard-title-link-wrap {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  background-color: #fff;
  border-radius: 3px;
}
.dashboard-title-copy-link {
  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;
}
.dashboard-title-copy-link-text {
  color: #000066;
  position: absolute;
  left: -33px;
  z-index: -1;

  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
}
.copy-link-active {
  animation-name: text-copied;
  animation-duration: 2500ms;
}
@keyframes text-copied {
  0% {
    left: -33px;
  }
  15% {
    left: 45px;
  }
  100% {
    left: -33px;
  }
}
.dashboard-title-copy-link::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/copy-link.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.dashboard-class-wrapper {
  padding-bottom: 2%;
  border-bottom: 1px solid #646464;
  background-color: #fff;
}
.dashboard-text {
  font-size: 16px;
  color: #000;
  padding: 15px 0;
}
.dashboard-list-header {
  display: flex;
  align-items: center;
  padding: 20px 0px 0px;
}
.dashboard-btn-menu {
  display: flex;
  width: 985px;
  padding: 20px 0px 20px 20px;
  display: none;
}
.dashboard-btn-menu-show {
  display: flex;
}

.button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  flex-basis: calc(100% / 4);
  padding: 10px;
  color: #fff;
  background-color: #000066;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #000038;
}
.button:not(:first-child) {
  margin-left: 20px;
}
.dashboard-btn-worksheets {
}
.dashboard-btn-images {
}
.dashboard-btn-all {
}
.dashboard-btn-delete {
  background-color: #d60910;
}
.dashboard-btn-delete:hover {
  background-color: #80090d;
}
.dashboard-input-wrap {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 20px;
}

.dashboard-label-checked-cards-all {
  padding-right: 8px;
  color: #000066;
  cursor: pointer;
}
.dashboard-input-checked-cards-all {
  margin: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.dashboard-input-checked-card {
  margin: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.dashboard-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  /* margin-top: -20px; */
  padding: 0px 20px 20px;
}

.dashboard-item {
  flex-basis: calc(100% / 7 - 20px);
  margin-left: 20px;
  margin-top: 20px;
  background-color: #cecccc;
}

.dashboard-item-card {
  padding: 15px;
}
.dashboard-item:focus {
  outline: 3px solid #cecccc;
}
.dashboard-item-card__thumb {
  background-color: #fff;
}

.dashboard-item-card__img {
  padding: 4px;
  width: 114px;
  height: 142px;
}
.dashboard-item-card__content {
  margin-top: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-item-text {
  font-size: 12px;
  color: #000066;
}

/* =================== */
article {
  /* width: 114px;
  height: 142px; */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}
.dachboard-img-pixel {
  width: 7px;
  height: 7px;
  background-color: greenyellow;
}
#id1 {
  background-color: rgb(233, 237, 0);
}
#id2 {
  background-color: rgb(233, 237, 0);
}
#id3 {
  background-color: rgb(233, 237, 0);
}
#id4 {
  background-color: rgb(233, 237, 0);
}
#id5 {
  background-color: rgb(233, 237, 0);
}
#id6 {
  background-color: rgb(233, 237, 0);
}
#id7 {
  background-color: rgb(233, 237, 0);
}
#id8 {
  background-color: rgb(233, 237, 0);
}
#id9 {
  background-color: rgb(233, 237, 0);
}
#id10 {
  background-color: rgb(233, 237, 0);
}
#id11 {
  background-color: rgb(233, 237, 0);
}
#id12 {
  background-color: rgb(233, 237, 0);
}
#id13 {
  background-color: rgb(233, 237, 0);
}
#id14 {
  background-color: rgb(233, 237, 0);
}
#id15 {
  background-color: rgb(233, 237, 0);
}
#id16 {
  background-color: rgb(233, 237, 0);
}
#id17 {
  background-color: rgb(233, 237, 0);
}
#id18 {
  background-color: rgb(233, 237, 0);
}
#id19 {
  background-color: rgb(233, 237, 0);
}
#id20 {
  background-color: rgb(233, 237, 0);
}
#id21 {
  background-color: rgb(233, 237, 0);
}
#id22 {
  background-color: rgb(233, 237, 0);
}
#id23 {
  background-color: rgb(233, 237, 0);
}
#id24 {
  background-color: rgb(233, 237, 0);
}
#id25 {
  background-color: rgb(233, 237, 0);
}
#id26 {
  background-color: rgb(233, 237, 0);
}
#id27 {
  background-color: rgb(233, 237, 0);
}
#id28 {
  background-color: rgb(233, 237, 0);
}
#id29 {
  background-color: rgb(233, 237, 0);
}
#id30 {
  background-color: rgb(233, 237, 0);
}
#id31 {
  background-color: rgb(233, 237, 0);
}
#id32 {
  background-color: rgb(233, 237, 0);
}
#id33 {
  background-color: rgb(233, 237, 0);
}
#id34 {
  background-color: rgb(233, 237, 0);
}
#id35 {
  background-color: rgb(233, 237, 0);
}
#id36 {
  background-color: rgb(233, 237, 0);
}
#id37 {
  background-color: rgb(233, 237, 0);
}
#id38 {
  background-color: rgb(233, 237, 0);
}
#id39 {
  background-color: rgb(233, 237, 0);
}
#id40 {
  background-color: rgb(233, 237, 0);
}
#id41 {
  background-color: rgb(233, 237, 0);
}
#id42 {
  background-color: rgb(233, 237, 0);
}
#id43 {
  background-color: rgb(233, 237, 0);
}
#id44 {
  background-color: rgb(233, 237, 0);
}
#id45 {
  background-color: rgb(233, 237, 0);
}
#id46 {
  background-color: rgb(233, 237, 0);
}
#id47 {
  background-color: rgb(233, 237, 0);
}
#id48 {
  background-color: rgb(233, 237, 0);
}
#id49 {
  background-color: rgb(233, 237, 0);
}
#id50 {
  background-color: rgb(233, 237, 0);
}
#id51 {
  background-color: rgb(233, 237, 0);
}
#id52 {
  background-color: rgb(233, 237, 0);
}
#id53 {
  background-color: rgb(233, 237, 0);
}
#id54 {
  background-color: rgb(233, 237, 0);
}
#id55 {
  background-color: rgb(233, 237, 0);
}
#id56 {
  background-color: rgb(233, 237, 0);
}
#id57 {
  background-color: rgb(233, 237, 0);
}
#id58 {
  background-color: rgb(233, 237, 0);
}
#id59 {
  background-color: rgb(233, 237, 0);
}
#id60 {
  background-color: rgb(233, 237, 0);
}
#id61 {
  background-color: rgb(233, 237, 0);
}
#id62 {
  background-color: rgb(233, 237, 0);
}
#id63 {
  background-color: rgb(233, 237, 0);
}
#id64 {
  background-color: rgb(233, 237, 0);
}
#id64 {
  background-color: rgb(233, 237, 0);
}
#id65 {
  background-color: rgb(233, 237, 0);
}
#id66 {
  background-color: rgb(233, 237, 0);
}
#id67 {
  background-color: rgb(233, 237, 0);
}
#id68 {
  background-color: rgb(233, 237, 0);
}
#id69 {
  background-color: rgb(233, 237, 0);
}
#id70 {
  background-color: rgb(233, 237, 0);
}
#id71 {
  background-color: rgb(233, 237, 0);
}
#id72 {
  background-color: rgb(233, 237, 0);
}
#id73 {
  background-color: rgb(233, 237, 0);
}
#id74 {
  background-color: rgb(233, 237, 0);
}
#id75 {
  background-color: rgb(233, 237, 0);
}
#id76 {
  background-color: rgb(233, 237, 0);
}
#id77 {
  background-color: rgb(233, 237, 0);
}
#id78 {
  background-color: rgb(233, 237, 0);
}
#id79 {
  background-color: rgb(233, 237, 0);
}
#id80 {
  background-color: rgb(233, 237, 0);
}
#id81 {
  background-color: rgb(233, 237, 0);
}
#id82 {
  background-color: rgb(233, 237, 0);
}
#id83 {
  background-color: rgb(233, 237, 0);
}
#id84 {
  background-color: rgb(233, 237, 0);
}
#id85 {
  background-color: rgb(233, 237, 0);
}
#id86 {
  background-color: rgb(233, 237, 0);
}
#id87 {
  background-color: rgb(233, 237, 0);
}
#id88 {
  background-color: rgb(233, 237, 0);
}
#id89 {
  background-color: rgb(233, 237, 0);
}
#id90 {
  background-color: rgb(233, 237, 0);
}
#id91 {
  background-color: rgb(233, 237, 0);
}
#id92 {
  background-color: rgb(233, 237, 0);
}
#id93 {
  background-color: rgb(233, 237, 0);
}
#id94 {
  background-color: rgb(233, 237, 0);
}
#id95 {
  background-color: rgb(233, 237, 0);
}
#id96 {
  background-color: rgb(233, 237, 0);
}

/* ===== */
#id97 {
  background-color: rgb(62, 41, 255);
}
#id98 {
  background-color: rgb(62, 41, 255);
}
#id99 {
  background-color: rgb(62, 41, 255);
}
#id100 {
  background-color: rgb(62, 41, 255);
}
#id101 {
  background-color: rgb(62, 41, 255);
}
#id102 {
  background-color: rgb(62, 41, 255);
}
#id103 {
  background-color: rgb(62, 41, 255);
}
#id104 {
  background-color: rgb(62, 41, 255);
}
#id105 {
  background-color: rgb(62, 41, 255);
}
#id106 {
  background-color: rgb(62, 41, 255);
}
#id107 {
  background-color: rgb(62, 41, 255);
}
#id108 {
  background-color: rgb(62, 41, 255);
}
#id109 {
  background-color: rgb(62, 41, 255);
}
#id110 {
  background-color: rgb(62, 41, 255);
}
#id111 {
  background-color: rgb(62, 41, 255);
}
#id112 {
  background-color: rgb(62, 41, 255);
}
#id113 {
  background-color: rgb(62, 41, 255);
}
#id114 {
  background-color: rgb(62, 41, 255);
}
#id115 {
  background-color: rgb(62, 41, 255);
}
#id116 {
  background-color: rgb(62, 41, 255);
}
#id117 {
  background-color: rgb(62, 41, 255);
}
#id118 {
  background-color: rgb(62, 41, 255);
}
#id119 {
  background-color: rgb(62, 41, 255);
}
#id120 {
  background-color: rgb(62, 41, 255);
}
#id121 {
  background-color: rgb(62, 41, 255);
}
#id122 {
  background-color: rgb(62, 41, 255);
}
#id123 {
  background-color: rgb(62, 41, 255);
}
#id124 {
  background-color: rgb(62, 41, 255);
}
#id125 {
  background-color: rgb(62, 41, 255);
}
#id126 {
  background-color: rgb(62, 41, 255);
}
#id127 {
  background-color: rgb(62, 41, 255);
}
#id128 {
  background-color: rgb(62, 41, 255);
}
#id129 {
  background-color: rgb(62, 41, 255);
}
#id130 {
  background-color: rgb(62, 41, 255);
}
#id131 {
  background-color: rgb(62, 41, 255);
}
#id132 {
  background-color: rgb(62, 41, 255);
}
#id133 {
  background-color: rgb(62, 41, 255);
}
#id134 {
  background-color: rgb(62, 41, 255);
}
#id135 {
  background-color: rgb(62, 41, 255);
}
#id136 {
  background-color: rgb(62, 41, 255);
}
#id137 {
  background-color: rgb(62, 41, 255);
}
#id138 {
  background-color: rgb(62, 41, 255);
}
#id139 {
  background-color: rgb(62, 41, 255);
}
#id140 {
  background-color: rgb(62, 41, 255);
}
#id141 {
  background-color: rgb(62, 41, 255);
}
#id142 {
  background-color: rgb(62, 41, 255);
}
#id143 {
  background-color: rgb(62, 41, 255);
}
#id144 {
  background-color: rgb(62, 41, 255);
}
#id145 {
  background-color: rgb(62, 41, 255);
}
#id146 {
  background-color: rgb(62, 41, 255);
}
#id147 {
  background-color: rgb(62, 41, 255);
}
#id148 {
  background-color: rgb(62, 41, 255);
}
#id149 {
  background-color: rgb(62, 41, 255);
}
#id150 {
  background-color: rgb(62, 41, 255);
}
#id151 {
  background-color: rgb(62, 41, 255);
}
#id152 {
  background-color: rgb(62, 41, 255);
}
#id153 {
  background-color: rgb(62, 41, 255);
}
#id154 {
  background-color: rgb(62, 41, 255);
}
#id155 {
  background-color: rgb(62, 41, 255);
}
#id156 {
  background-color: rgb(62, 41, 255);
}
#id157 {
  background-color: rgb(62, 41, 255);
}
#id158 {
  background-color: rgb(62, 41, 255);
}
#id159 {
  background-color: rgb(62, 41, 255);
}
#id160 {
  background-color: rgb(62, 41, 255);
}
#id161 {
  background-color: rgb(62, 41, 255);
}
#id162 {
  background-color: rgb(62, 41, 255);
}
#id163 {
  background-color: rgb(62, 41, 255);
}
#id164 {
  background-color: rgb(62, 41, 255);
}
#id165 {
  background-color: rgb(62, 41, 255);
}
#id166 {
  background-color: rgb(62, 41, 255);
}
#id167 {
  background-color: rgb(62, 41, 255);
}
#id168 {
  background-color: rgb(62, 41, 255);
}
#id169 {
  background-color: rgb(62, 41, 255);
}
#id170 {
  background-color: rgb(62, 41, 255);
}
#id171 {
  background-color: rgb(62, 41, 255);
}
#id172 {
  background-color: rgb(62, 41, 255);
}
#id173 {
  background-color: rgb(62, 41, 255);
}
#id174 {
  background-color: rgb(62, 41, 255);
}
#id175 {
  background-color: rgb(62, 41, 255);
}
#id176 {
  background-color: rgb(62, 41, 255);
}
#id177 {
  background-color: rgb(62, 41, 255);
}
#id178 {
  background-color: rgb(62, 41, 255);
}
#id179 {
  background-color: rgb(62, 41, 255);
}
#id180 {
  background-color: rgb(62, 41, 255);
}
#id181 {
  background-color: rgb(62, 41, 255);
}
#id182 {
  background-color: rgb(62, 41, 255);
}
#id183 {
  background-color: rgb(62, 41, 255);
}
#id184 {
  background-color: rgb(62, 41, 255);
}
#id185 {
  background-color: rgb(62, 41, 255);
}
#id186 {
  background-color: rgb(62, 41, 255);
}
#id187 {
  background-color: rgb(62, 41, 255);
}
#id188 {
  background-color: rgb(62, 41, 255);
}
#id189 {
  background-color: rgb(62, 41, 255);
}
#id190 {
  background-color: rgb(62, 41, 255);
}
#id191 {
  background-color: rgb(62, 41, 255);
}
#id192 {
  background-color: rgb(62, 41, 255);
}

/* ======= */
#id193 {
  background-color: rgb(17, 167, 0);
}
#id194 {
  background-color: rgb(17, 167, 0);
}
#id195 {
  background-color: rgb(17, 167, 0);
}
#id196 {
  background-color: rgb(17, 167, 0);
}
#id197 {
  background-color: rgb(17, 167, 0);
}
#id198 {
  background-color: rgb(17, 167, 0);
}
#id199 {
  background-color: rgb(17, 167, 0);
}
#id200 {
  background-color: rgb(17, 167, 0);
}
#id201 {
  background-color: rgb(17, 167, 0);
}
#id202 {
  background-color: rgb(17, 167, 0);
}
#id203 {
  background-color: rgb(17, 167, 0);
}
#id204 {
  background-color: rgb(17, 167, 0);
}
#id205 {
  background-color: rgb(17, 167, 0);
}
#id206 {
  background-color: rgb(17, 167, 0);
}
#id207 {
  background-color: rgb(17, 167, 0);
}
#id208 {
  background-color: rgb(17, 167, 0);
}
#id209 {
  background-color: rgb(17, 167, 0);
}
#id210 {
  background-color: rgb(17, 167, 0);
}
#id211 {
  background-color: rgb(17, 167, 0);
}
#id212 {
  background-color: rgb(17, 167, 0);
}
#id213 {
  background-color: rgb(17, 167, 0);
}
#id214 {
  background-color: rgb(17, 167, 0);
}
#id215 {
  background-color: rgb(17, 167, 0);
}
#id216 {
  background-color: rgb(17, 167, 0);
}
#id217 {
  background-color: rgb(17, 167, 0);
}
#id218 {
  background-color: rgb(17, 167, 0);
}
#id219 {
  background-color: rgb(17, 167, 0);
}
#id220 {
  background-color: rgb(17, 167, 0);
}
#id221 {
  background-color: rgb(17, 167, 0);
}
#id222 {
  background-color: rgb(17, 167, 0);
}
#id223 {
  background-color: rgb(17, 167, 0);
}
#id224 {
  background-color: rgb(17, 167, 0);
}
#id225 {
  background-color: rgb(17, 167, 0);
}
#id226 {
  background-color: rgb(17, 167, 0);
}
#id227 {
  background-color: rgb(17, 167, 0);
}
#id228 {
  background-color: rgb(17, 167, 0);
}
#id229 {
  background-color: rgb(17, 167, 0);
}
#id230 {
  background-color: rgb(17, 167, 0);
}
#id231 {
  background-color: rgb(17, 167, 0);
}
#id232 {
  background-color: rgb(17, 167, 0);
}
#id233 {
  background-color: rgb(17, 167, 0);
}
#id234 {
  background-color: rgb(17, 167, 0);
}
#id235 {
  background-color: rgb(17, 167, 0);
}
#id236 {
  background-color: rgb(17, 167, 0);
}
#id237 {
  background-color: rgb(17, 167, 0);
}
#id238 {
  background-color: rgb(17, 167, 0);
}
#id239 {
  background-color: rgb(17, 167, 0);
}
#id240 {
  background-color: rgb(17, 167, 0);
}
#id241 {
  background-color: rgb(17, 167, 0);
}
#id242 {
  background-color: rgb(17, 167, 0);
}
#id243 {
  background-color: rgb(17, 167, 0);
}
#id244 {
  background-color: rgb(17, 167, 0);
}
#id245 {
  background-color: rgb(17, 167, 0);
}
#id246 {
  background-color: rgb(17, 167, 0);
}
#id247 {
  background-color: rgb(17, 167, 0);
}
#id248 {
  background-color: rgb(17, 167, 0);
}
#id249 {
  background-color: rgb(17, 167, 0);
}
#id250 {
  background-color: rgb(17, 167, 0);
}
#id251 {
  background-color: rgb(17, 167, 0);
}
#id252 {
  background-color: rgb(17, 167, 0);
}
#id253 {
  background-color: rgb(17, 167, 0);
}
#id254 {
  background-color: rgb(17, 167, 0);
}
#id255 {
  background-color: rgb(17, 167, 0);
}
#id256 {
  background-color: rgb(17, 167, 0);
}
#id257 {
  background-color: rgb(17, 167, 0);
}
#id258 {
  background-color: rgb(17, 167, 0);
}
#id259 {
  background-color: rgb(17, 167, 0);
}
#id260 {
  background-color: rgb(17, 167, 0);
}
#id261 {
  background-color: rgb(17, 167, 0);
}
#id262 {
  background-color: rgb(17, 167, 0);
}
#id263 {
  background-color: rgb(17, 167, 0);
}
#id264 {
  background-color: rgb(17, 167, 0);
}
#id265 {
  background-color: rgb(17, 167, 0);
}
#id266 {
  background-color: rgb(17, 167, 0);
}
#id267 {
  background-color: rgb(17, 167, 0);
}
#id268 {
  background-color: rgb(17, 167, 0);
}
#id269 {
  background-color: rgb(17, 167, 0);
}
#id270 {
  background-color: rgb(17, 167, 0);
}
#id271 {
  background-color: rgb(17, 167, 0);
}
#id272 {
  background-color: rgb(17, 167, 0);
}
#id273 {
  background-color: rgb(17, 167, 0);
}
#id274 {
  background-color: rgb(17, 167, 0);
}
#id275 {
  background-color: rgb(17, 167, 0);
}
#id276 {
  background-color: rgb(17, 167, 0);
}
#id277 {
  background-color: rgb(17, 167, 0);
}
#id278 {
  background-color: rgb(17, 167, 0);
}
#id279 {
  background-color: rgb(17, 167, 0);
}
#id280 {
  background-color: rgb(17, 167, 0);
}
#id281 {
  background-color: rgb(17, 167, 0);
}
#id282 {
  background-color: rgb(17, 167, 0);
}
#id283 {
  background-color: rgb(17, 167, 0);
}
#id284 {
  background-color: rgb(17, 167, 0);
}
#id285 {
  background-color: rgb(17, 167, 0);
}
#id286 {
  background-color: rgb(17, 167, 0);
}
#id287 {
  background-color: rgb(17, 167, 0);
}
#id288 {
  background-color: rgb(17, 167, 0);
}
#id289 {
  background-color: rgb(17, 167, 0);
}
#id290 {
  background-color: rgb(17, 167, 0);
}
#id291 {
  background-color: rgb(17, 167, 0);
}
#id292 {
  background-color: rgb(17, 167, 0);
}
#id293 {
  background-color: rgb(17, 167, 0);
}
#id294 {
  background-color: rgb(17, 167, 0);
}
#id295 {
  background-color: rgb(17, 167, 0);
}
#id296 {
  background-color: rgb(17, 167, 0);
}
#id297 {
  background-color: rgb(17, 167, 0);
}
#id298 {
  background-color: rgb(17, 167, 0);
}
#id299 {
  background-color: rgb(17, 167, 0);
}
#id300 {
  background-color: rgb(17, 167, 0);
}
#id301 {
  background-color: rgb(17, 167, 0);
}
#id302 {
  background-color: rgb(17, 167, 0);
}
#id303 {
  background-color: rgb(17, 167, 0);
}
#id304 {
  background-color: rgb(17, 167, 0);
}
#id305 {
  background-color: rgb(17, 167, 0);
}
#id306 {
  background-color: rgb(17, 167, 0);
}
#id307 {
  background-color: rgb(17, 167, 0);
}
#id308 {
  background-color: rgb(17, 167, 0);
}
#id309 {
  background-color: rgb(17, 167, 0);
}
#id310 {
  background-color: rgb(17, 167, 0);
}
#id311 {
  background-color: rgb(17, 167, 0);
}
#id312 {
  background-color: rgb(17, 167, 0);
}
#id313 {
  background-color: rgb(17, 167, 0);
}
#id314 {
  background-color: rgb(17, 167, 0);
}
#id315 {
  background-color: rgb(17, 167, 0);
}
#id316 {
  background-color: rgb(17, 167, 0);
}
#id317 {
  background-color: rgb(17, 167, 0);
}
#id318 {
  background-color: rgb(17, 167, 0);
}
#id319 {
  background-color: rgb(17, 167, 0);
}
#id320 {
  background-color: rgb(17, 167, 0);
}
/* ============== */

.pixel1 {
  background-color: rgb(0, 103, 167);
}
.pixel2 {
  background-color: rgb(0, 103, 167);
}
.pixel3 {
  background-color: rgb(0, 103, 167);
}
.pixel4 {
  background-color: rgb(0, 103, 167);
}
.pixel5 {
  background-color: rgb(0, 103, 167);
}
.pixel6 {
  background-color: rgb(0, 103, 167);
}
.pixel7 {
  background-color: rgb(0, 103, 167);
}
.pixel8 {
  background-color: rgb(0, 103, 167);
}
.pixel9 {
  background-color: rgb(0, 103, 167);
}
.pixel10 {
  background-color: rgb(0, 103, 167);
}
.pixel11 {
  background-color: rgb(0, 103, 167);
}
.pixel12 {
  background-color: rgb(0, 103, 167);
}
.pixel13 {
  background-color: rgb(0, 103, 167);
}
.pixel14 {
  background-color: rgb(0, 103, 167);
}
.pixel15 {
  background-color: rgb(0, 103, 167);
}
.pixel16 {
  background-color: rgb(0, 103, 167);
}
.pixel17 {
  background-color: rgb(0, 103, 167);
}
.pixel18 {
  background-color: rgb(0, 103, 167);
}
.pixel19 {
  background-color: rgb(0, 103, 167);
}
.pixel20 {
  background-color: rgb(0, 103, 167);
}
.pixel21 {
  background-color: rgb(0, 103, 167);
}
.pixel22 {
  background-color: rgb(0, 103, 167);
}
.pixel23 {
  background-color: rgb(0, 103, 167);
}
.pixel24 {
  background-color: rgb(0, 103, 167);
}
.pixel25 {
  background-color: rgb(0, 103, 167);
}
.pixel26 {
  background-color: rgb(0, 103, 167);
}
.pixel27 {
  background-color: rgb(0, 103, 167);
}
.pixel28 {
  background-color: rgb(0, 103, 167);
}
.pixel29 {
  background-color: rgb(0, 103, 167);
}
.pixel30 {
  background-color: rgb(0, 103, 167);
}
.pixel31 {
  background-color: rgb(0, 103, 167);
}
.pixel32 {
  background-color: rgb(0, 103, 167);
}
.pixel33 {
  background-color: rgb(0, 103, 167);
}
.pixel34 {
  background-color: rgb(0, 103, 167);
}
.pixel35 {
  background-color: rgb(0, 103, 167);
}
.pixel36 {
  background-color: rgb(0, 103, 167);
}
.pixel37 {
  background-color: rgb(0, 103, 167);
}
.pixel38 {
  background-color: rgb(0, 103, 167);
}
.pixel39 {
  background-color: rgb(0, 103, 167);
}
.pixel40 {
  background-color: rgb(0, 103, 167);
}
.pixel41 {
  background-color: rgb(0, 103, 167);
}
.pixel42 {
  background-color: rgb(0, 103, 167);
}
.pixel43 {
  background-color: rgb(0, 103, 167);
}
.pixel44 {
  background-color: rgb(0, 103, 167);
}
.pixel45 {
  background-color: rgb(0, 103, 167);
}
.pixel46 {
  background-color: rgb(0, 103, 167);
}
.pixel47 {
  background-color: rgb(0, 103, 167);
}
.pixel48 {
  background-color: rgb(0, 103, 167);
}
.pixel49 {
  background-color: rgb(0, 103, 167);
}
.pixel50 {
  background-color: rgb(0, 103, 167);
}
.pixel51 {
  background-color: rgb(0, 103, 167);
}
.pixel52 {
  background-color: rgb(0, 103, 167);
}
.pixel53 {
  background-color: rgb(0, 103, 167);
}
.pixel54 {
  background-color: rgb(0, 103, 167);
}
.pixel55 {
  background-color: rgb(0, 103, 167);
}
.pixel56 {
  background-color: rgb(0, 103, 167);
}
.pixel57 {
  background-color: rgb(0, 103, 167);
}
.pixel58 {
  background-color: rgb(0, 103, 167);
}
.pixel59 {
  background-color: rgb(0, 103, 167);
}
.pixel60 {
  background-color: rgb(0, 103, 167);
}
.pixel61 {
  background-color: rgb(0, 103, 167);
}
.pixel62 {
  background-color: rgb(0, 103, 167);
}
.pixel63 {
  background-color: rgb(0, 103, 167);
}
.pixel64 {
  background-color: rgb(0, 103, 167);
}
.pixel65 {
  background-color: rgb(0, 103, 167);
}
.pixel66 {
  background-color: rgb(0, 103, 167);
}
.pixel67 {
  background-color: rgb(0, 103, 167);
}
.pixel68 {
  background-color: rgb(0, 103, 167);
}
.pixel69 {
  background-color: rgb(0, 103, 167);
}
.pixel70 {
  background-color: rgb(0, 103, 167);
}
.pixel71 {
  background-color: rgb(0, 103, 167);
}
.pixel72 {
  background-color: rgb(0, 103, 167);
}
.pixel73 {
  background-color: rgb(0, 103, 167);
}
.pixel74 {
  background-color: rgb(0, 103, 167);
}
.pixel75 {
  background-color: rgb(0, 103, 167);
}
.pixel76 {
  background-color: rgb(0, 103, 167);
}
.pixel77 {
  background-color: rgb(0, 103, 167);
}
.pixel78 {
  background-color: rgb(0, 103, 167);
}
.pixel79 {
  background-color: rgb(0, 103, 167);
}
.pixel80 {
  background-color: rgb(0, 103, 167);
}
.pixel81 {
  background-color: rgb(0, 103, 167);
}
.pixel82 {
  background-color: rgb(0, 103, 167);
}
.pixel83 {
  background-color: rgb(0, 103, 167);
}
.pixel84 {
  background-color: rgb(0, 103, 167);
}
.pixel85 {
  background-color: rgb(0, 103, 167);
}
.pixel86 {
  background-color: rgb(0, 103, 167);
}
.pixel87 {
  background-color: rgb(0, 103, 167);
}
.pixel88 {
  background-color: rgb(0, 103, 167);
}
.pixel89 {
  background-color: rgb(0, 103, 167);
}
.pixel90 {
  background-color: rgb(0, 103, 167);
}
.pixel91 {
  background-color: rgb(0, 103, 167);
}
.pixel92 {
  background-color: rgb(0, 103, 167);
}
.pixel93 {
  background-color: rgb(0, 103, 167);
}
.pixel94 {
  background-color: rgb(0, 103, 167);
}
.pixel95 {
  background-color: rgb(0, 103, 167);
}
.pixel96 {
  background-color: rgb(0, 103, 167);
}
.pixel97 {
  background-color: rgb(0, 103, 167);
}
.pixel98 {
  background-color: rgb(0, 103, 167);
}
.pixel99 {
  background-color: rgb(0, 103, 167);
}
.pixel100 {
  background-color: rgb(0, 103, 167);
}
.pixel101 {
  background-color: rgb(0, 103, 167);
}
.pixel102 {
  background-color: rgb(0, 103, 167);
}
.pixel103 {
  background-color: rgb(0, 103, 167);
}
.pixel104 {
  background-color: rgb(0, 103, 167);
}
.pixel105 {
  background-color: rgb(0, 103, 167);
}
.pixel106 {
  background-color: rgb(0, 103, 167);
}
.pixel107 {
  background-color: rgb(0, 103, 167);
}
.pixel108 {
  background-color: rgb(0, 103, 167);
}
.pixel109 {
  background-color: rgb(0, 103, 167);
}
.pixel110 {
  background-color: rgb(0, 103, 167);
}
.pixel111 {
  background-color: rgb(0, 103, 167);
}
.pixel112 {
  background-color: rgb(0, 103, 167);
}

/* ===== */
.pixel113 {
  background-color: rgb(167, 0, 145);
}
.pixel114 {
  background-color: rgb(167, 0, 145);
}
.pixel115 {
  background-color: rgb(167, 0, 145);
}
.pixel116 {
  background-color: rgb(167, 0, 145);
}

.pixel117 {
  background-color: rgb(167, 0, 145);
}
.pixel118 {
  background-color: rgb(167, 0, 145);
}
.pixel119 {
  background-color: rgb(167, 0, 145);
}
.pixel120 {
  background-color: rgb(167, 0, 145);
}
.pixel121 {
  background-color: rgb(167, 0, 145);
}
.pixel122 {
  background-color: rgb(167, 0, 145);
}
.pixel123 {
  background-color: rgb(167, 0, 145);
}
.pixel124 {
  background-color: rgb(167, 0, 145);
}
.pixel125 {
  background-color: rgb(167, 0, 145);
}
.pixel126 {
  background-color: rgb(167, 0, 145);
}
.pixel127 {
  background-color: rgb(167, 0, 145);
}
.pixel128 {
  background-color: rgb(167, 0, 145);
}
.pixel129 {
  background-color: rgb(167, 0, 145);
}
.pixel130 {
  background-color: rgb(167, 0, 145);
}
.pixel131 {
  background-color: rgb(167, 0, 145);
}
.pixel132 {
  background-color: rgb(167, 0, 145);
}
.pixel133 {
  background-color: rgb(167, 0, 145);
}
.pixel134 {
  background-color: rgb(167, 0, 145);
}
.pixel135 {
  background-color: rgb(167, 0, 145);
}
.pixel136 {
  background-color: rgb(167, 0, 145);
}
.pixel137 {
  background-color: rgb(167, 0, 145);
}
.pixel138 {
  background-color: rgb(167, 0, 145);
}
.pixel139 {
  background-color: rgb(167, 0, 145);
}
.pixel140 {
  background-color: rgb(167, 0, 145);
}
.pixel141 {
  background-color: rgb(167, 0, 145);
}
.pixel142 {
  background-color: rgb(167, 0, 145);
}
.pixel143 {
  background-color: rgb(167, 0, 145);
}
.pixel144 {
  background-color: rgb(167, 0, 145);
}
.pixel145 {
  background-color: rgb(167, 0, 145);
}
.pixel146 {
  background-color: rgb(167, 0, 145);
}
.pixel147 {
  background-color: rgb(167, 0, 145);
}
.pixel148 {
  background-color: rgb(167, 0, 145);
}
.pixel149 {
  background-color: rgb(167, 0, 145);
}
.pixel150 {
  background-color: rgb(167, 0, 145);
}
.pixel151 {
  background-color: rgb(167, 0, 145);
}
.pixel152 {
  background-color: rgb(167, 0, 145);
}
.pixel153 {
  background-color: rgb(167, 0, 145);
}
.pixel154 {
  background-color: rgb(167, 0, 145);
}
.pixel155 {
  background-color: rgb(167, 0, 145);
}
.pixel156 {
  background-color: rgb(167, 0, 145);
}
.pixel157 {
  background-color: rgb(167, 0, 145);
}
.pixel158 {
  background-color: rgb(167, 0, 145);
}
.pixel159 {
  background-color: rgb(167, 0, 145);
}
.pixel160 {
  background-color: rgb(167, 0, 145);
}
.pixel161 {
  background-color: rgb(167, 0, 145);
}
.pixel162 {
  background-color: rgb(167, 0, 145);
}
.pixel163 {
  background-color: rgb(167, 0, 145);
}
.pixel164 {
  background-color: rgb(167, 0, 145);
}
.pixel165 {
  background-color: rgb(167, 0, 145);
}
.pixel166 {
  background-color: rgb(167, 0, 145);
}
.pixel167 {
  background-color: rgb(167, 0, 145);
}
.pixel168 {
  background-color: rgb(167, 0, 145);
}
.pixel169 {
  background-color: rgb(167, 0, 145);
}
.pixel170 {
  background-color: rgb(167, 0, 145);
}
.pixel171 {
  background-color: rgb(167, 0, 145);
}
.pixel172 {
  background-color: rgb(167, 0, 145);
}
.pixel173 {
  background-color: rgb(167, 0, 145);
}
.pixel174 {
  background-color: rgb(167, 0, 145);
}
.pixel175 {
  background-color: rgb(167, 0, 145);
}
.pixel176 {
  background-color: rgb(167, 0, 145);
}
.pixel177 {
  background-color: rgb(167, 0, 145);
}
.pixel178 {
  background-color: rgb(167, 0, 145);
}
.pixel179 {
  background-color: rgb(167, 0, 145);
}
.pixel180 {
  background-color: rgb(167, 0, 145);
}
.pixel181 {
  background-color: rgb(167, 0, 145);
}
.pixel182 {
  background-color: rgb(167, 0, 145);
}
.pixel183 {
  background-color: rgb(167, 0, 145);
}
.pixel184 {
  background-color: rgb(167, 0, 145);
}
.pixel185 {
  background-color: rgb(167, 0, 145);
}
.pixel186 {
  background-color: rgb(167, 0, 145);
}
.pixel187 {
  background-color: rgb(167, 0, 145);
}
.pixel188 {
  background-color: rgb(167, 0, 145);
}
.pixel189 {
  background-color: rgb(167, 0, 145);
}
.pixel190 {
  background-color: rgb(167, 0, 145);
}
.pixel191 {
  background-color: rgb(167, 0, 145);
}
.pixel192 {
  background-color: rgb(167, 0, 145);
}
.pixel193 {
  background-color: rgb(167, 0, 145);
}
.pixel194 {
  background-color: rgb(167, 0, 145);
}
.pixel195 {
  background-color: rgb(167, 0, 145);
}
.pixel196 {
  background-color: rgb(167, 0, 145);
}
.pixel197 {
  background-color: rgb(167, 0, 145);
}
.pixel198 {
  background-color: rgb(167, 0, 145);
}
.pixel199 {
  background-color: rgb(167, 0, 145);
}
.pixel200 {
  background-color: rgb(167, 0, 145);
}
.pixel201 {
  background-color: rgb(167, 0, 145);
}
.pixel202 {
  background-color: rgb(167, 0, 145);
}
.pixel203 {
  background-color: rgb(167, 0, 145);
}
.pixel204 {
  background-color: rgb(167, 0, 145);
}
.pixel205 {
  background-color: rgb(167, 0, 145);
}
.pixel206 {
  background-color: rgb(167, 0, 145);
}
.pixel207 {
  background-color: rgb(167, 0, 145);
}
.pixel208 {
  background-color: rgb(167, 0, 145);
}
.pixel209 {
  background-color: rgb(167, 0, 145);
}
.pixel210 {
  background-color: rgb(167, 0, 145);
}
.pixel211 {
  background-color: rgb(167, 0, 145);
}
.pixel212 {
  background-color: rgb(167, 0, 145);
}
.pixel213 {
  background-color: rgb(167, 0, 145);
}
.pixel214 {
  background-color: rgb(167, 0, 145);
}
.pixel215 {
  background-color: rgb(167, 0, 145);
}
.pixel216 {
  background-color: rgb(167, 0, 145);
}
.pixel217 {
  background-color: rgb(167, 0, 145);
}
.pixel218 {
  background-color: rgb(167, 0, 145);
}
.pixel219 {
  background-color: rgb(167, 0, 145);
}
.pixel220 {
  background-color: rgb(167, 0, 145);
}
.pixel221 {
  background-color: rgb(167, 0, 145);
}
.pixel222 {
  background-color: rgb(167, 0, 145);
}
.pixel223 {
  background-color: rgb(167, 0, 145);
}
.pixel224 {
  background-color: rgb(167, 0, 145);
}

/* ====== */
.pixel225 {
  background-color: rgb(215, 27, 14);
}
.pixel226 {
  background-color: rgb(215, 27, 14);
}
.pixel227 {
  background-color: rgb(215, 27, 14);
}
.pixel228 {
  background-color: rgb(215, 27, 14);
}
.pixel229 {
  background-color: rgb(215, 27, 14);
}
.pixel230 {
  background-color: rgb(215, 27, 14);
}
.pixel231 {
  background-color: rgb(215, 27, 14);
}
.pixel232 {
  background-color: rgb(215, 27, 14);
}
.pixel233 {
  background-color: rgb(215, 27, 14);
}
.pixel234 {
  background-color: rgb(215, 27, 14);
}
.pixel235 {
  background-color: rgb(215, 27, 14);
}
.pixel236 {
  background-color: rgb(215, 27, 14);
}
.pixel237 {
  background-color: rgb(215, 27, 14);
}
.pixel238 {
  background-color: rgb(215, 27, 14);
}
.pixel239 {
  background-color: rgb(215, 27, 14);
}
.pixel240 {
  background-color: rgb(215, 27, 14);
}
.pixel241 {
  background-color: rgb(215, 27, 14);
}
.pixel242 {
  background-color: rgb(215, 27, 14);
}
.pixel243 {
  background-color: rgb(215, 27, 14);
}
.pixel244 {
  background-color: rgb(215, 27, 14);
}
.pixel245 {
  background-color: rgb(215, 27, 14);
}
.pixel246 {
  background-color: rgb(215, 27, 14);
}
.pixel247 {
  background-color: rgb(215, 27, 14);
}
.pixel248 {
  background-color: rgb(215, 27, 14);
}
.pixel249 {
  background-color: rgb(215, 27, 14);
}
.pixel250 {
  background-color: rgb(215, 27, 14);
}
.pixel251 {
  background-color: rgb(215, 27, 14);
}
.pixel252 {
  background-color: rgb(215, 27, 14);
}
.pixel253 {
  background-color: rgb(215, 27, 14);
}
.pixel254 {
  background-color: rgb(215, 27, 14);
}
.pixel255 {
  background-color: rgb(215, 27, 14);
}
.pixel256 {
  background-color: rgb(215, 27, 14);
}
.pixel257 {
  background-color: rgb(215, 27, 14);
}
.pixel258 {
  background-color: rgb(215, 27, 14);
}
.pixel259 {
  background-color: rgb(215, 27, 14);
}
.pixel260 {
  background-color: rgb(215, 27, 14);
}
.pixel261 {
  background-color: rgb(215, 27, 14);
}
.pixel262 {
  background-color: rgb(215, 27, 14);
}
.pixel263 {
  background-color: rgb(215, 27, 14);
}
.pixel264 {
  background-color: rgb(215, 27, 14);
}
.pixel265 {
  background-color: rgb(215, 27, 14);
}
.pixel266 {
  background-color: rgb(215, 27, 14);
}
.pixel267 {
  background-color: rgb(215, 27, 14);
}
.pixel268 {
  background-color: rgb(215, 27, 14);
}
.pixel269 {
  background-color: rgb(215, 27, 14);
}
.pixel270 {
  background-color: rgb(215, 27, 14);
}
.pixel271 {
  background-color: rgb(215, 27, 14);
}
.pixel272 {
  background-color: rgb(215, 27, 14);
}
.pixel273 {
  background-color: rgb(215, 27, 14);
}
.pixel274 {
  background-color: rgb(215, 27, 14);
}
.pixel275 {
  background-color: rgb(215, 27, 14);
}
.pixel276 {
  background-color: rgb(215, 27, 14);
}
.pixel277 {
  background-color: rgb(215, 27, 14);
}
.pixel278 {
  background-color: rgb(215, 27, 14);
}
.pixel279 {
  background-color: rgb(215, 27, 14);
}
.pixel280 {
  background-color: rgb(215, 27, 14);
}
.pixel281 {
  background-color: rgb(215, 27, 14);
}
.pixel282 {
  background-color: rgb(215, 27, 14);
}
.pixel283 {
  background-color: rgb(215, 27, 14);
}
.pixel284 {
  background-color: rgb(215, 27, 14);
}
.pixel285 {
  background-color: rgb(215, 27, 14);
}
.pixel286 {
  background-color: rgb(215, 27, 14);
}
.pixel287 {
  background-color: rgb(215, 27, 14);
}
.pixel288 {
  background-color: rgb(215, 27, 14);
}
.pixel289 {
  background-color: rgb(215, 27, 14);
}
.pixel290 {
  background-color: rgb(215, 27, 14);
}
.pixel291 {
  background-color: rgb(215, 27, 14);
}
.pixel292 {
  background-color: rgb(215, 27, 14);
}
.pixel293 {
  background-color: rgb(215, 27, 14);
}
.pixel294 {
  background-color: rgb(215, 27, 14);
}
.pixel295 {
  background-color: rgb(215, 27, 14);
}
.pixel296 {
  background-color: rgb(215, 27, 14);
}
.pixel297 {
  background-color: rgb(215, 27, 14);
}
.pixel298 {
  background-color: rgb(215, 27, 14);
}
.pixel299 {
  background-color: rgb(215, 27, 14);
}
.pixel300 {
  background-color: rgb(215, 27, 14);
}
.pixel301 {
  background-color: rgb(215, 27, 14);
}
.pixel302 {
  background-color: rgb(215, 27, 14);
}
.pixel303 {
  background-color: rgb(215, 27, 14);
}
.pixel304 {
  background-color: rgb(215, 27, 14);
}
.pixel305 {
  background-color: rgb(215, 27, 14);
}
.pixel306 {
  background-color: rgb(215, 27, 14);
}
.pixel307 {
  background-color: rgb(215, 27, 14);
}
.pixel308 {
  background-color: rgb(215, 27, 14);
}
.pixel309 {
  background-color: rgb(215, 27, 14);
}
.pixel310 {
  background-color: rgb(215, 27, 14);
}
.pixel311 {
  background-color: rgb(215, 27, 14);
}
.pixel312 {
  background-color: rgb(215, 27, 14);
}
.pixel313 {
  background-color: rgb(215, 27, 14);
}
.pixel314 {
  background-color: rgb(215, 27, 14);
}
.pixel315 {
  background-color: rgb(215, 27, 14);
}
.pixel316 {
  background-color: rgb(215, 27, 14);
}
.pixel317 {
  background-color: rgb(215, 27, 14);
}
.pixel318 {
  background-color: rgb(215, 27, 14);
}
.pixel319 {
  background-color: rgb(215, 27, 14);
}
.pixel320 {
  background-color: rgb(215, 27, 14);
}

/* ==================== */

.pixel2-1 {
  background-color: rgb(11, 117, 28);
}
.pixel2-2 {
  background-color: rgb(11, 117, 28);
}
.pixel2-3 {
  background-color: rgb(11, 117, 28);
}
.pixel2-4 {
  background-color: rgb(11, 117, 28);
}
.pixel2-5 {
  background-color: rgb(11, 117, 28);
}
.pixel2-6 {
  background-color: rgb(11, 117, 28);
}
.pixel2-7 {
  background-color: rgb(11, 117, 28);
}
.pixel2-8 {
  background-color: rgb(11, 117, 28);
}
.pixel2-9 {
  background-color: rgb(11, 117, 28);
}
.pixel2-10 {
  background-color: rgb(11, 117, 28);
}
.pixel2-11 {
  background-color: rgb(11, 117, 28);
}
.pixel2-12 {
  background-color: rgb(11, 117, 28);
}
.pixel2-13 {
  background-color: rgb(11, 117, 28);
}
.pixel2-14 {
  background-color: rgb(11, 117, 28);
}
.pixel2-15 {
  background-color: rgb(11, 117, 28);
}
.pixel2-16 {
  background-color: rgb(11, 117, 28);
}
.pixel2-17 {
  background-color: rgb(11, 117, 28);
}
.pixel2-18 {
  background-color: rgb(11, 117, 28);
}
.pixel2-19 {
  background-color: rgb(11, 117, 28);
}
.pixel2-20 {
  background-color: rgb(11, 117, 28);
}
.pixel2-21 {
  background-color: rgb(11, 117, 28);
}
.pixel2-22 {
  background-color: rgb(11, 117, 28);
}
.pixel2-23 {
  background-color: rgb(11, 117, 28);
}
.pixel2-24 {
  background-color: rgb(11, 117, 28);
}
.pixel2-25 {
  background-color: rgb(11, 117, 28);
}
.pixel2-26 {
  background-color: rgb(28, 117, 32);
}
.pixel2-27 {
  background-color: rgb(28, 117, 32);
}
.pixel2-28 {
  background-color: rgb(28, 117, 32);
}
.pixel2-29 {
  background-color: rgb(28, 117, 32);
}
.pixel2-30 {
  background-color: rgb(28, 117, 32);
}
.pixel2-31 {
  background-color: rgb(28, 117, 32);
}
.pixel2-32 {
  background-color: rgb(28, 117, 32);
}
.pixel2-33 {
  background-color: rgb(28, 117, 32);
}
.pixel2-34 {
  background-color: rgb(28, 117, 32);
}
.pixel2-35 {
  background-color: rgb(28, 117, 32);
}
.pixel2-36 {
  background-color: rgb(28, 117, 32);
}
.pixel2-37 {
  background-color: rgb(28, 117, 32);
}
.pixel2-38 {
  background-color: rgb(28, 117, 32);
}
.pixel2-39 {
  background-color: rgb(28, 117, 32);
}
.pixel2-40 {
  background-color: rgb(28, 117, 32);
}
.pixel2-41 {
  background-color: rgb(28, 117, 32);
}
.pixel2-42 {
  background-color: rgb(28, 117, 32);
}
.pixel2-43 {
  background-color: rgb(28, 117, 32);
}
.pixel2-44 {
  background-color: rgb(28, 117, 32);
}
.pixel2-45 {
  background-color: rgb(28, 117, 32);
}
.pixel2-46 {
  background-color: rgb(28, 117, 32);
}
.pixel2-47 {
  background-color: rgb(28, 117, 32);
}
.pixel2-48 {
  background-color: rgb(28, 117, 32);
}
.pixel2-49 {
  background-color: rgb(28, 117, 32);
}
.pixel2-50 {
  background-color: rgb(28, 117, 32);
}
.pixel2-51 {
  background-color: rgb(28, 117, 32);
}
.pixel2-52 {
  background-color: rgb(28, 117, 32);
}
.pixel2-53 {
  background-color: rgb(28, 117, 32);
}
.pixel2-54 {
  background-color: rgb(28, 117, 32);
}
.pixel2-55 {
  background-color: rgb(28, 117, 32);
}
.pixel2-56 {
  background-color: rgb(187, 192, 15);
}
.pixel2-57 {
  background-color: rgb(187, 192, 15);
}
.pixel2-58 {
  background-color: rgb(187, 192, 15);
}
.pixel2-59 {
  background-color: rgb(187, 192, 15);
}
.pixel2-60 {
  background-color: rgb(187, 192, 15);
}
.pixel2-61 {
  background-color: rgb(187, 192, 15);
}
.pixel2-62 {
  background-color: rgb(187, 192, 15);
}
.pixel2-63 {
  background-color: rgb(187, 192, 15);
}
.pixel2-64 {
  background-color: rgb(187, 192, 15);
}
.pixel2-65 {
  background-color: rgb(187, 192, 15);
}
.pixel2-66 {
  background-color: rgb(187, 192, 15);
}
.pixel2-67 {
  background-color: rgb(187, 192, 15);
}
.pixel2-68 {
  background-color: rgb(187, 192, 15);
}
.pixel2-69 {
  background-color: rgb(187, 192, 15);
}
.pixel2-70 {
  background-color: rgb(187, 192, 15);
}
.pixel2-71 {
  background-color: rgb(187, 192, 15);
}
.pixel2-72 {
  background-color: rgb(187, 192, 15);
}
.pixel2-73 {
  background-color: rgb(187, 192, 15);
}
.pixel2-74 {
  background-color: rgb(187, 192, 15);
}
.pixel2-75 {
  background-color: rgb(187, 192, 15);
}
.pixel2-76 {
  background-color: rgb(187, 192, 15);
}
.pixel2-77 {
  background-color: rgb(187, 192, 15);
}
.pixel2-78 {
  background-color: rgb(187, 192, 15);
}
.pixel2-79 {
  background-color: rgb(187, 192, 15);
}
.pixel2-80 {
  background-color: rgb(187, 192, 15);
}
.pixel2-81 {
  background-color: rgb(187, 192, 15);
}
.pixel2-82 {
  background-color: rgb(187, 192, 15);
}
.pixel2-83 {
  background-color: rgb(187, 192, 15);
}
.pixel2-84 {
  background-color: rgb(187, 192, 15);
}
.pixel2-85 {
  background-color: rgb(187, 192, 15);
}
.pixel2-86 {
  background-color: rgb(187, 192, 15);
}
.pixel2-87 {
  background-color: rgb(187, 192, 15);
}
.pixel2-88 {
  background-color: rgb(187, 192, 15);
}
.pixel2-89 {
  background-color: rgb(187, 192, 15);
}
.pixel2-90 {
  background-color: rgb(187, 192, 15);
}
.pixel2-91 {
  background-color: rgb(187, 192, 15);
}
.pixel2-92 {
  background-color: rgb(187, 192, 15);
}
.pixel2-93 {
  background-color: rgb(187, 192, 15);
}
.pixel2-94 {
  background-color: rgb(187, 192, 15);
}
.pixel2-95 {
  background-color: rgb(187, 192, 15);
}
.pixel2-96 {
  background-color: rgb(187, 192, 15);
}
.pixel2-97 {
  background-color: rgb(187, 192, 15);
}
.pixel2-98 {
  background-color: rgb(187, 192, 15);
}
.pixel2-99 {
  background-color: rgb(45, 2, 22);
}
.pixel2-100 {
  background-color: rgb(45, 2, 22);
}
.pixel2-101 {
  background-color: rgb(45, 2, 22);
}
.pixel2-102 {
  background-color: rgb(45, 2, 22);
}
.pixel2-103 {
  background-color: rgb(45, 2, 22);
}
.pixel2-104 {
  background-color: rgb(45, 2, 22);
}
.pixel2-105 {
  background-color: rgb(45, 2, 22);
}
.pixel2-106 {
  background-color: rgb(45, 2, 22);
}
.pixel2-107 {
  background-color: rgb(45, 2, 22);
}
.pixel2-108 {
  background-color: rgb(45, 2, 22);
}
.pixel2-109 {
  background-color: rgb(45, 2, 22);
}
.pixel2-110 {
  background-color: rgb(45, 2, 22);
}
.pixel2-111 {
  background-color: rgb(45, 2, 22);
}
.pixel2-112 {
  background-color: rgb(45, 2, 22);
}
.pixel2-113 {
  background-color: rgb(45, 2, 22);
}
.pixel2-114 {
  background-color: rgb(45, 2, 22);
}
.pixel2-115 {
  background-color: rgb(45, 2, 22);
}
.pixel2-116 {
  background-color: rgb(45, 2, 22);
}
.pixel2-117 {
  background-color: rgb(45, 2, 22);
}
.pixel2-118 {
  background-color: rgb(45, 2, 22);
}
.pixel2-119 {
  background-color: rgb(45, 2, 22);
}
.pixel2-120 {
  background-color: rgb(45, 2, 22);
}
.pixel2-121 {
  background-color: rgb(45, 2, 22);
}
.pixel2-122 {
  background-color: rgb(45, 2, 22);
}
.pixel2-123 {
  background-color: rgb(45, 2, 22);
}
.pixel2-124 {
  background-color: rgb(45, 2, 22);
}
.pixel2-125 {
  background-color: rgb(45, 2, 22);
}
.pixel2-126 {
  background-color: rgb(45, 2, 22);
}
.pixel2-127 {
  background-color: rgb(45, 2, 22);
}
.pixel2-128 {
  background-color: rgb(45, 2, 22);
}
.pixel2-129 {
  background-color: rgb(45, 2, 22);
}
.pixel2-130 {
  background-color: rgb(45, 2, 22);
}
.pixel2-131 {
  background-color: rgb(45, 2, 22);
}
.pixel2-132 {
  background-color: rgb(45, 2, 22);
}
.pixel2-133 {
  background-color: rgb(45, 2, 22);
}
.pixel2-134 {
  background-color: rgb(45, 2, 22);
}
.pixel2-135 {
  background-color: rgb(45, 2, 22);
}
.pixel2-136 {
  background-color: rgb(45, 2, 22);
}
.pixel2-137 {
  background-color: rgb(45, 2, 22);
}
.pixel2-138 {
  background-color: rgb(45, 2, 22);
}
.pixel2-139 {
  background-color: rgb(45, 2, 22);
}
.pixel2-140 {
  background-color: rgb(45, 2, 22);
}
.pixel2-141 {
  background-color: rgb(45, 2, 22);
}
.pixel2-142 {
  background-color: rgb(45, 2, 22);
}
.pixel2-143 {
  background-color: rgb(45, 2, 22);
}
.pixel2-144 {
  background-color: rgb(45, 2, 22);
}
.pixel2-145 {
  background-color: rgb(45, 2, 22);
}
.pixel2-146 {
  background-color: rgb(45, 2, 22);
}
.pixel2-147 {
  background-color: rgb(90, 54, 57);
}
.pixel2-148 {
  background-color: rgb(90, 54, 57);
}
.pixel2-149 {
  background-color: rgb(90, 54, 57);
}
.pixel2-150 {
  background-color: rgb(90, 54, 57);
}
.pixel2-151 {
  background-color: rgb(90, 54, 57);
}
.pixel2-152 {
  background-color: rgb(90, 54, 57);
}
.pixel2-153 {
  background-color: rgb(90, 54, 57);
}
.pixel2-154 {
  background-color: rgb(90, 54, 57);
}
.pixel2-155 {
  background-color: rgb(90, 54, 57);
}
.pixel2-156 {
  background-color: rgb(90, 54, 57);
}
.pixel2-157 {
  background-color: rgb(90, 54, 57);
}
.pixel2-158 {
  background-color: rgb(90, 54, 57);
}
.pixel2-159 {
  background-color: rgb(90, 54, 57);
}
.pixel2-160 {
  background-color: rgb(90, 54, 57);
}
.pixel2-161 {
  background-color: rgb(90, 54, 57);
}
.pixel2-162 {
  background-color: rgb(90, 54, 57);
}
.pixel2-163 {
  background-color: rgb(90, 54, 57);
}
.pixel2-164 {
  background-color: rgb(90, 54, 57);
}
.pixel2-165 {
  background-color: rgb(90, 54, 57);
}
.pixel2-166 {
  background-color: rgb(90, 54, 57);
}
.pixel2-167 {
  background-color: rgb(90, 54, 57);
}
.pixel2-168 {
  background-color: rgb(90, 54, 57);
}
.pixel2-169 {
  background-color: rgb(90, 54, 57);
}
.pixel2-170 {
  background-color: rgb(90, 54, 57);
}
.pixel2-171 {
  background-color: rgb(90, 54, 57);
}
.pixel2-172 {
  background-color: rgb(90, 54, 57);
}
.pixel2-173 {
  background-color: rgb(90, 54, 57);
}
.pixel2-174 {
  background-color: rgb(90, 54, 57);
}
.pixel2-175 {
  background-color: rgb(90, 54, 57);
}
.pixel2-176 {
  background-color: rgb(90, 54, 57);
}
.pixel2-177 {
  background-color: rgb(90, 54, 57);
}
.pixel2-178 {
  background-color: rgb(90, 54, 57);
}
.pixel2-179 {
  background-color: rgb(90, 54, 57);
}
.pixel2-180 {
  background-color: rgb(90, 54, 57);
}
.pixel2-181 {
  background-color: rgb(90, 54, 57);
}
.pixel2-182 {
  background-color: rgb(90, 54, 57);
}
.pixel2-183 {
  background-color: rgb(90, 54, 57);
}
.pixel2-184 {
  background-color: rgb(90, 54, 57);
}
.pixel2-185 {
  background-color: rgb(90, 54, 57);
}
.pixel2-186 {
  background-color: rgb(90, 54, 57);
}
.pixel2-187 {
  background-color: rgb(90, 54, 57);
}
.pixel2-188 {
  background-color: rgb(90, 54, 57);
}
.pixel2-189 {
  background-color: rgb(90, 54, 57);
}
.pixel2-190 {
  background-color: rgb(90, 54, 57);
}
.pixel2-191 {
  background-color: rgb(90, 54, 57);
}
.pixel2-192 {
  background-color: rgb(90, 54, 57);
}
.pixel2-193 {
  background-color: rgb(90, 54, 57);
}
.pixel2-194 {
  background-color: rgb(100, 28, 23);
}
.pixel2-195 {
  background-color: rgb(100, 28, 23);
}
.pixel2-196 {
  background-color: rgb(100, 28, 23);
}
.pixel2-197 {
  background-color: rgb(100, 28, 23);
}
.pixel2-198 {
  background-color: rgb(100, 28, 23);
}
.pixel2-199 {
  background-color: rgb(100, 28, 23);
}
.pixel2-200 {
  background-color: rgb(100, 28, 23);
}
.pixel2-201 {
  background-color: rgb(100, 28, 23);
}
.pixel2-202 {
  background-color: rgb(100, 28, 23);
}
.pixel2-203 {
  background-color: rgb(100, 28, 23);
}
.pixel2-204 {
  background-color: rgb(100, 28, 23);
}
.pixel2-205 {
  background-color: rgb(100, 28, 23);
}
.pixel2-206 {
  background-color: rgb(100, 28, 23);
}
.pixel2-207 {
  background-color: rgb(100, 28, 23);
}
.pixel2-208 {
  background-color: rgb(100, 28, 23);
}
.pixel2-209 {
  background-color: rgb(100, 28, 23);
}
.pixel2-210 {
  background-color: rgb(100, 28, 23);
}
.pixel2-211 {
  background-color: rgb(100, 28, 23);
}
.pixel2-212 {
  background-color: rgb(100, 28, 23);
}
.pixel2-213 {
  background-color: rgb(100, 28, 23);
}
.pixel2-214 {
  background-color: rgb(100, 28, 23);
}
.pixel2-215 {
  background-color: rgb(100, 28, 23);
}
.pixel2-216 {
  background-color: rgb(100, 28, 23);
}
.pixel2-217 {
  background-color: rgb(100, 28, 23);
}
.pixel2-218 {
  background-color: rgb(100, 28, 23);
}
.pixel2-219 {
  background-color: rgb(100, 28, 23);
}
.pixel2-220 {
  background-color: rgb(100, 28, 23);
}
.pixel2-221 {
  background-color: rgb(100, 28, 23);
}
.pixel2-222 {
  background-color: rgb(100, 28, 23);
}
.pixel2-223 {
  background-color: rgb(100, 28, 23);
}
.pixel2-224 {
  background-color: rgb(100, 28, 23);
}
.pixel2-225 {
  background-color: rgb(100, 28, 23);
}
.pixel2-226 {
  background-color: rgb(100, 28, 23);
}
.pixel2-227 {
  background-color: rgb(100, 28, 23);
}
.pixel2-228 {
  background-color: rgb(100, 28, 23);
}
.pixel2-229 {
  background-color: rgb(100, 28, 23);
}
.pixel2-230 {
  background-color: rgb(100, 28, 23);
}
.pixel2-231 {
  background-color: rgb(100, 28, 23);
}
.pixel2-232 {
  background-color: rgb(100, 28, 23);
}
.pixel2-233 {
  background-color: rgb(100, 28, 23);
}
.pixel2-234 {
  background-color: rgb(100, 28, 23);
}
.pixel2-235 {
  background-color: rgb(100, 28, 23);
}
.pixel2-236 {
  background-color: rgb(100, 28, 23);
}
.pixel2-237 {
  background-color: rgb(100, 28, 23);
}
.pixel2-238 {
  background-color: rgb(100, 28, 23);
}
.pixel2-239 {
  background-color: rgb(100, 28, 23);
}
.pixel2-240 {
  background-color: rgb(100, 28, 23);
}
.pixel2-241 {
  background-color: rgb(100, 28, 23);
}
.pixel2-242 {
  background-color: rgb(100, 28, 23);
}
.pixel2-243 {
  background-color: rgb(100, 28, 23);
}
.pixel2-244 {
  background-color: rgb(100, 28, 23);
}
.pixel2-245 {
  background-color: rgb(100, 28, 23);
}
.pixel2-246 {
  background-color: rgb(100, 28, 23);
}
.pixel2-247 {
  background-color: rgb(100, 28, 23);
}
.pixel2-248 {
  background-color: rgb(100, 28, 23);
}
.pixel2-249 {
  background-color: rgb(100, 28, 23);
}
.pixel2-250 {
  background-color: rgb(100, 28, 23);
}
.pixel2-251 {
  background-color: rgb(100, 28, 23);
}
.pixel2-252 {
  background-color: rgb(100, 28, 23);
}
.pixel2-253 {
  background-color: rgb(100, 28, 23);
}
.pixel2-254 {
  background-color: rgb(100, 28, 23);
}
.pixel2-255 {
  background-color: rgb(100, 28, 23);
}
.pixel2-256 {
  background-color: rgb(100, 28, 23);
}
.pixel2-257 {
  background-color: rgb(100, 28, 23);
}
.pixel2-258 {
  background-color: rgb(100, 28, 23);
}
.pixel2-259 {
  background-color: rgb(100, 28, 23);
}
.pixel2-260 {
  background-color: rgb(100, 28, 23);
}
.pixel2-261 {
  background-color: rgb(100, 28, 23);
}
.pixel2-262 {
  background-color: rgb(113, 28, 23);
}
.pixel2-263 {
  background-color: rgb(113, 28, 23);
}
.pixel2-264 {
  background-color: rgb(113, 28, 23);
}
.pixel2-265 {
  background-color: rgb(113, 28, 23);
}
.pixel2-266 {
  background-color: rgb(113, 28, 23);
}
.pixel2-267 {
  background-color: rgb(113, 28, 23);
}
.pixel2-268 {
  background-color: rgb(113, 28, 23);
}
.pixel2-269 {
  background-color: rgb(113, 28, 23);
}
.pixel2-270 {
  background-color: rgb(113, 28, 23);
}
.pixel2-271 {
  background-color: rgb(113, 28, 23);
}
.pixel2-272 {
  background-color: rgb(113, 28, 23);
}
.pixel2-273 {
  background-color: rgb(113, 28, 23);
}
.pixel2-274 {
  background-color: rgb(113, 28, 23);
}
.pixel2-275 {
  background-color: rgb(113, 28, 23);
}
.pixel2-276 {
  background-color: rgb(113, 28, 23);
}
.pixel2-277 {
  background-color: rgb(113, 28, 23);
}
.pixel2-278 {
  background-color: rgb(113, 28, 23);
}
.pixel2-279 {
  background-color: rgb(113, 28, 23);
}
.pixel2-280 {
  background-color: rgb(113, 28, 23);
}
.pixel2-281 {
  background-color: rgb(113, 28, 23);
}
.pixel2-282 {
  background-color: rgb(113, 28, 23);
}
.pixel2-283 {
  background-color: rgb(113, 28, 23);
}
.pixel2-284 {
  background-color: rgb(113, 28, 23);
}
.pixel2-285 {
  background-color: rgb(113, 28, 23);
}
.pixel2-286 {
  background-color: rgb(113, 28, 23);
}
.pixel2-287 {
  background-color: rgb(113, 28, 23);
}
.pixel2-288 {
  background-color: rgb(113, 28, 23);
}
.pixel2-289 {
  background-color: rgb(113, 28, 23);
}
.pixel2-290 {
  background-color: rgb(113, 28, 23);
}
.pixel2-291 {
  background-color: rgb(113, 28, 23);
}
.pixel2-292 {
  background-color: rgb(113, 28, 23);
}
.pixel2-293 {
  background-color: rgb(113, 28, 23);
}
.pixel2-294 {
  background-color: rgb(113, 28, 23);
}
.pixel2-295 {
  background-color: rgb(113, 28, 23);
}
.pixel2-296 {
  background-color: rgb(113, 28, 23);
}
.pixel2-297 {
  background-color: rgb(113, 28, 23);
}
.pixel2-298 {
  background-color: rgb(113, 28, 23);
}
.pixel2-299 {
  background-color: rgb(113, 28, 23);
}
.pixel2-300 {
  background-color: rgb(113, 28, 23);
}
.pixel2-301 {
  background-color: rgb(113, 28, 23);
}
.pixel2-302 {
  background-color: rgb(113, 28, 23);
}
.pixel2-303 {
  background-color: rgb(113, 28, 23);
}
.pixel2-304 {
  background-color: rgb(13, 118, 203);
}
.pixel2-305 {
  background-color: rgb(13, 118, 203);
}
.pixel2-306 {
  background-color: rgb(13, 118, 203);
}
.pixel2-307 {
  background-color: rgb(13, 118, 203);
}
.pixel2-308 {
  background-color: rgb(13, 118, 203);
}
.pixel2-309 {
  background-color: rgb(13, 118, 203);
}
.pixel2-310 {
  background-color: rgb(13, 118, 203);
}
.pixel2-311 {
  background-color: rgb(13, 118, 203);
}
.pixel2-312 {
  background-color: rgb(13, 118, 203);
}
.pixel2-313 {
  background-color: rgb(13, 118, 203);
}
.pixel2-314 {
  background-color: rgb(13, 118, 203);
}
.pixel2-315 {
  background-color: rgb(13, 118, 203);
}
.pixel2-316 {
  background-color: rgb(13, 118, 203);
}
.pixel2-317 {
  background-color: rgb(13, 118, 203);
}
.pixel2-318 {
  background-color: rgb(13, 118, 203);
}
.pixel2-319 {
  background-color: rgb(13, 118, 203);
}
.pixel2-320 {
  background-color: rgb(13, 118, 203);
}
