/* common styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #ededed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  /* outline: 0 !important; */
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  cursor: pointer;
}

.list {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

/* ===========header========== */
.header-dashboard {
  position: fixed;
  z-index: 999;
  background-color: #fff;
}
.header-container {
  width: 100%;
}

.header-dashboard__nav {
  padding-left: 2%;
  padding-right: 2%;
}
.header-dashboard__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-dashboard__logo {
  max-width: 20%;
}
.header-dashboard__login {
}

/* ============dashboard========== */
.section-dashboard {
  padding-top: 100px;
}
.dashboard-container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 1%;
}
.dashboard-title-content {
  text-align: center;
  padding: 6% 6% 2%;
  border-bottom: 2px solid #000;
}
.dashboard-title {
  font-size: 48px;
  margin-bottom: 15px;
}
.dashboard-title-name {
  margin-right: 6px;
}
.dashboard-title-link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-title-link {
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: #0202ef;
  margin-right: 25px;
}
.dashboard-title-link-wrap {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  background-color: #fff;
  border-radius: 3px;
}
.dashboard-title-copy-link {
  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;
}
.dashboard-title-copy-link-text {
  color: #000066;
  position: absolute;
  left: -33px;
  z-index: -1;

  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
}
.copy-link-active {
  animation-name: text-copied;
  animation-duration: 2500ms;
}
@keyframes text-copied {
  0% {
    left: -33px;
  }
  15% {
    left: 45px;
  }
  100% {
    left: -33px;
  }
}
.dashboard-title-copy-link::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/copy-link.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.dashboard-class-wrapper {
  padding-bottom: 2%;
  border-bottom: 1px solid #646464;
  background-color: #fff;
}
.dashboard-text {
  font-size: 16px;
  color: #000;
  padding: 20px 20px 0px;
}
.dashboard-list-header {
  display: flex;
  align-items: flex-end;
  padding: 10px 0px 0px;
  max-height: 90px;
}
.dashboard-btn-menu {
  line-height: 1.4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1036px;
  padding: 0 0 0 20px;

  display: none;
  /* opacity: 0; */
}
.dashboard-btn-menu p {
  font-size: 16px;
  margin-bottom: 20px;
}
.dashboard-btn-menu-show {
  /* opacity: 1; */
  display: flex;
  animation-name: anim;
  animation-duration: 0.4s;
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dashboard-form-btn-menu {
  display: flex;
}
.dashboard-form-btn-menu label {
  font-size: 22px;
  margin-right: 52px;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.dashboard-form-btn-menu input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 10px;
  color: #fff;
  background-color: #000066;
  border: none;
  cursor: pointer;
}

.dashboard-btn {
  background-color: #07ad07;
  margin-left: auto;
  width: 153px;
  height: 100%;
}
.dashboard-btn:hover {
  background-color: #038503;
}
.dashboard-input-wrap {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 20px;
  padding-bottom: 11px;
}

.dashboard-label-checked-cards-all {
  padding-right: 8px;
  color: #000066;
  cursor: pointer;
}
.dashboard-input-checked-cards-all {
  margin: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.dashboard-input-checked-card {
  margin: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.dashboard-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  /* margin-top: -20px; */
  padding: 0px 20px 20px;
}

.dashboard-item {
  flex-basis: calc(100% / 7 - 20px);
  margin-left: 20px;
  margin-top: 50px;
  background-color: #cecccc;
}

.dashboard-item-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  min-height: 206px;
  padding: 15px;
}
.dashboard-item:focus {
  outline: 3px solid #cecccc;
}

.dashboard-item-card__thumb {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  padding: 4px;
  margin-left: auto;
  margin-right: auto;

  width: 121px;
  min-height: 148px;

  background-color: #fff;
  cursor: pointer;
}

.dashboard-item-card__thumb--horizontal {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  padding: 4px;
  /* margin-top: 12px; */
  margin-left: auto;
  margin-right: auto;

  width: 148px;
  min-height: 121px;

  background-color: #fff;
  cursor: pointer;
}

.dashboard-item-card__img {
  padding: 4px;
  width: 114px;
  height: 142px;
}
.dashboard-item-card__content {
  width: 100%;
  margin-top: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-item-text {
  font-size: 12px;
  color: #000066;
}
input,
label {
  cursor: pointer;
}

/* =================== */

.pla-sq {
  width: 7px;
  height: 7px;
}
.modal__content .pla-sq:hover {
  transform: scale(1.2);
}
/* ========= */
.pla-rgb-1 {
  background-color: rgb(0, 0, 0);
}
.pla-rgb-2 {
  background-color: rgb(121, 71, 29);
}
.pla-rgb-3 {
  background-color: rgb(230, 209, 186);
}
.pla-rgb-4 {
  background-color: rgb(248, 151, 29);
}
.pla-rgb-5 {
  background-color: rgb(0, 80, 164);
}
.pla-rgb-6 {
  background-color: rgb(25, 163, 221);
}
.pla-rgb-7 {
  background-color: rgb(114, 204, 210);
}
.pla-rgb-8 {
  background-color: rgb(0, 148, 103);
}
.pla-rgb-9 {
  background-color: rgb(200, 223, 142);
}
.pla-rgb-10 {
  background-color: rgb(127, 119, 183);
}
.pla-rgb-11 {
  background-color: rgb(165, 67, 153);
}
.pla-rgb-12 {
  background-color: rgb(247, 178, 191);
}
.pla-rgb-13 {
  background-color: rgb(218, 117, 174);
}
.pla-rgb-14 {
  background-color: rgb(237, 28, 36);
}
.pla-rgb-0 {
  background-color: rgb(255, 255, 255);
}
.pla-rgb-16 {
  background-color: rgb(255, 242, 0);
}
.pla-rgb-17 {
  background-color: rgb(198 198 199);
}

/* ====Modal for img====== */
.modal {
  padding: 0;

  border: none;
  outline: none;

  -webkit-transform: scale(2.8);
  -ms-transform: scale(2.8);
  transform: scale(2.8);

  -webkit-animation: modal-scale 0.4s;
  animation: modal-scale 0.4s;
}

@-webkit-keyframes modal-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2.8);
    transform: scale(2.8);
  }
}

@keyframes modal-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2.8);
    transform: scale(2.8);
  }
}

dialog::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
